<!--{% extends 'base.html' %}-->
<!--{% load static %}-->

<!--{% block content %}-->



<!--  <h1>Welcome, Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h1>-->

<!--    &lt;!&ndash; Display doctor's full name, specialty, and image &ndash;&gt;-->
<!--    <div>-->
<!--        <img src="{{ doctor.image.url }}" alt="Doctor's Image" width="200" height="200" />-->
<!--        <p><strong>Full Name:</strong> Dr. {{ doctor.first_name }} {{ doctor.last_name }}</p>-->
<!--        <p><strong>Specialty:</strong> {{ doctor.speciality.name }}</p>-->
<!--    </div>-->

<!--    &lt;!&ndash; Button to view appointments &ndash;&gt;-->
<!--    <div>-->
<!--        <a href="">-->
<!--            <button type="button">View Appointments</button>-->
<!--        </a>-->
<!--    </div>-->
<!--{% endblock %}-->

